NEXT_PUBLIC_PRIMARY_DOMAIN="http://localhost:3000"
AUTH_TRUST_HOST="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

DATABASE_URL="postgres://user:password@127.0.0.1:5432/database"
DIRECT_URL="postgres://user:password@127.0.0.1:5432/database"

# Generate Auth Secret -> $ "openssl rand -base64 32"
AUTH_SECRET="abcd1234"

# Github Oath setup instructions
GITHUB_CLIENT_ID=abcd1234
GITHUB_CLIENT_SECRET=abcd1234

# Google oath setup instructions
GOOGLE_CLIENT_ID=abcd1234
GOOGLE_CLIENT_SECRET=abcd1234

# resend
RESEND_API_KEY=abcd1234

# S3 / Backblaze
AWS_ACCESS_KEY_ID=abcdq234
AWS_SECRET_ACCESS_KEY=abcd1234

#Stripe - "stripe listen --forward-to localhost:3000/api/webhook/stripe"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_1234
STRIPE_SECRET_KEY=sk_1234
STRIPE_WEBHOOK_SECRET=1234

#OpenAI (Chat GPT) Api Key
OPENAI_API_KEY=abcd1234
